@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,500&display=swap');
html body{
    background-color: hsl(223, 19%, 93%);
    font-family: Rubik, sans-serif;
   
}

textarea {
  resize: none;
  border: 1.5px solid hsl(223, 19%, 93%);
  padding: 10px;
  margin-top: 10px;
  }

textarea:focus {
  border: 1.5px solid grey;
  outline: none;
  border-radius: 10px;
}

.disabled{
  opacity: .4;
  pointer-events: none;
  cursor: none;
}

.isDisabled{
  pointer-events: none;
  cursor: none;
}

form textarea{
  white-space: pre-wrap;
overflow-wrap: break-word;
}

.loader1 {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 30px solid hsl(238, 40%, 52%);
    margin: 30% auto;
    border-right: 30px solid hsl(223, 19%, 93%);
    border-radius: 50%;
    animation: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition-property: transform;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .modal{
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.5;
  }

  .style{
    position: "absolute";
    top: "50%";
    left: "50%";
    transform: "translate(-50%, -50%)";
    width: 400;
    background-color: "background.paper";
    border: "2px solid #000";
    box-shadow: 24;
    border-radius: "20px";
    padding: 4;
  }